* {
  letter-spacing: 1px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-systrem, BlinkMacSystremFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://i.imgur.com/veMpJWc.png');
}

.container > * {
  box-sizing: border-box;
  padding: 1rem;
}

/* Steps */
.step-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-list > li {
  width: inherit;
  height: inherit;
}

.step-overlay {
  position: absolute;
  z-index: 1;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.step-overlay > button {
  cursor: pointer;
  color: gray;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  height: 40px;
  width: 30px;
}

.step-item {
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  width: 100%;
}

.step-image,
.step-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  height: 500px;
  object-fit: cover;
}

.step-content {
  padding: 1rem;
}

.step-content p {
  display: flex;
  width: 100%;
  min-height: 26px;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px 0 10px 15px;
  box-sizing: border-box;
  background: rgba(1,1,1,0.5);
  font-size: 16px;
  color: #fff;
  margin-top: 17px;
  line-height: 26px;
}

.step-content h2 {
  position: relative;
  display: flex;
  width: 370px;
  height: 54px;
  font-size: 24px;
  color: #24333c;
  line-height: 54px;
  padding-left: 60px;
  box-sizing: border-box;
  background: #cca574 url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/4QMqaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzE0MiA3OS4xNjA5MjQsIDIwMTcvMDcvMTMtMDE6MDY6MzkgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NENFQzIzMDNCMkJBMTFFOUIxNjhFNDEwOUE1RkEzRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NENFQzIzMDRCMkJBMTFFOUIxNjhFNDEwOUE1RkEzRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0Q0VDMjMwMUIyQkExMUU5QjE2OEU0MTA5QTVGQTNGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0Q0VDMjMwMkIyQkExMUU5QjE2OEU0MTA5QTVGQTNGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv/uAA5BZG9iZQBkwAAAAAH/2wCEAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHB8fHx8fHx8fHx8BBwcHDQwNGBAQGBoVERUaHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fH//AABEIADYANgMBEQACEQEDEQH/xAB6AAEAAwEBAAAAAAAAAAAAAAAAAwQFBgIBAQADAQEAAAAAAAAAAAAAAAABAgMEBRAAAQMDAwMDBAMAAAAAAAAAAQACAxEEBSExEhMUBkGRImFxMkKxUqIRAQACAgEDAwUAAAAAAAAAAAABAhEDEiExQbHRMvChQrIE/9oADAMBAAIRAxEAPwDZyWSybMnJbW0hpVoYwNaTUtB9QvBrWMZl69rTls2Ud2yEd1L1JjqaAAD6CgCznHheMp1VIgICAggjsoWXct1Ss0lBU+gAAoPZWz0wjHVOqpEBAQEBAQEGNmMzctuW4nEtbLlpW8nOdrHbRnTqy0/y3dy3164xyt8fVjs2TnjX5eilYZK7w8sVrk7vv8bcu42eYPHSQmhinLfiKu/B23oVpekX61jFo7x7KVvNOlpzE+fd0y5HSICAg8yte6J7Y39ORzSGSU5cSRoaHeimES4TsMicNkPHYZuy8ll5TSXbjXv2V1eyQ6io+JH6fZehzryi89afr9fdxcZ4zTtf1UPEMbkMB49cxeQNdNBkHGGywJAfJJIdDQfry9gPkVp/Reuy8cPHeymik0pPPz+LuPGrHI2OHhtshN1p21IFeXTYT8YuZ1fwGnI7rg33ra2auzVWa1xLUWLUQEBBQzGHtspbtjkc6KeJ3UtbqPSSGQbPYf5GxC117JpLPZri0KuGwVxDcOyWWnbe5Zzem2ZreMcUf9ImH8eW7juSrbNsTHGsYqrr1zE5t1s2Vg2EBAQEBAQEBAQEBAQEBAQEH//Z) no-repeat;
  background-position: left top;
  background-size: 54px;
  margin-top: -10px;
  box-shadow: 2px 3px 6px 0 rgb(12 12 12 / 20%);
}


.step-content small {
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Steps navigation */
.step-nav {
  display: flex;
  justify-content: space-between;
  z-index: 9;
  left: 0;
  bottom: 0;
  padding-top: 22px;
  width: 80%;
  height: 200px;
  border-radius: 20px;
  background: rgba(204,204,204,0.2);
  
}

.nav-item {
  width: 16%;
  text-align: center;
  position: relative;
  border-bottom: 1px solid gray;
  opacity: 0.5;
  will-change: opacity;
  transition: opacity 225ms;
}

.nav-item.active,
.nav-item:hover {
  opacity: 1;
}

.nav-item.active {
  border-bottom-color: #03a9f4;
  border-width: 5px;
}

.nav-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.content-character{
  display: flex;
  width: 100%;
  min-height: 26px;
  max-height: 150px;
  overflow-y: auto;
  padding: 10px 0 10px 15px;
  box-sizing: border-box;
  background: rgba(1,1,1,0.5);
  font-size: 16px;
  color: #fff;
  margin-top: 17px;
  line-height: 26px;
}
.nav-item p{
  font-size: 20px;
  background: #cca574;
  border-radius: 20px;
}